
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;
    font-family: gilroy;
    background-color: #0b0b0b;
    overflow: hidden;
    color: white;
}
.crscr{
    width: 2.4vw;
    height: 2.4vw;
    border-radius: 50%;
    border:1px solid #fff;
    position: fixed;
    z-index: 99;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
    
}
.loader{
    position: fixed;
    width: 100%;
    height: 100%;
    color: white;
    background-color: #0b0b0b;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    padding-left: 10vw;
    align-items: center;
    z-index: 999;
   

  

.loader-count{
    position: absolute;
    top: 22%;
    left: 6%;
    /* background-color: green; */
    display: flex;
    h4{

       
        font-size: 3vw;
        font-family:Silk serif ;
        font-weight: 400;
        text-align: right;
        width: 8vw;
        }
        h5{
        font-weight: 400;
          
            font-size: 3vw;
            font-family:Silk serif ;
        }
}
.loader-contents{
    height: auto;
    width: 100%;
    /* background-color: red; */
    overflow: hidden;
    
        
        h1{
            
            font-size: 7vw;
            /* background-color: red; */
            font-weight: 500;
            line-height: 6vw;
            height: 13vh;
            text-transform: uppercase;
            font-family: "Plain Light";
            &:nth-child(1){
                width: 70%;
                margin: 0 auto;
            }
        }
        span{
            position: absolute;
            right: 1%;
            top: 46%;
            font-weight: 900;
            font-size: 6.5vw;
            font-weight: 100;
            animation-name: now-anime;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            text-align: left;
            display: inline;
          
            display: inline-block;
        }
       
        
    }
    p{
    /* background-color: red; */
    margin-right: 38%;
    margin-top: 5%;
    }
}

@keyframes now-anime {
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 2px #fff;
        color: #fff;
        opacity: 1;
    }
    40%{
        font-family: "plain light";
        -webkit-text-stroke: 2px #fff;
        color: #fff;
        opacity: 0;
    }
    60%{
        font-family: "silk serif";
        -webkit-text-stroke: 2px #fff;
        color: transparent;

        opacity: 1;
    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 2px #fff;
        color: transparent;

        opacity: 0;
    }
}

main{
    position: relative;
    background-color: #151515;
overflow-y: auto;


    
    .page1{
        height: 100vh;
        width: 100%;
        background-color:"#151515";
        color: white;
        overflow-y: auto;
        nav{
            padding: 4vw;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .nav-left{
                display: flex;
                align-items: center;
                gap: 3.4vw;
            }
            .nav-center{
                margin-right: 30vw;
                padding-top: 2vw;
                align-items: center;
                h4{
                    font-family:Plain Light;
                    font-weight: 300;
                }
            }
            .nav-right{
                display: flex;
                align-items: center;
                gap: 3.4vw;
                font-family:"plain light";
                font-weight: 200;
            }
        }

        .hero-contents{
            display: flex;
            margin: 0 auto;
            margin-left: 20%;
            gap: 2vw;
            height: fit-content;
            width: 75%;
            overflow: hidden;

            
h4{
  font-size: 3vw;
  font-family:silk serif;
}
            .hero-texts{
                height: fit-content;
                overflow: hidden;
                width: 100%;
                h2{
                    display: inline;
                }
              #graphics{
                display: inline;
              }
             
                h1{
                overflow: hidden;

                    font-size: 8vw;
                    line-height: 7.3vw;
                    font-family: plain light;
                    font-weight: 900;
                    text-transform: uppercase;
                }
            }
        }
    }
}

#hover-texts{
    position: relative;
 h2{
    display: flex;
    justify-content: center;
    position: absolute;
    top: -10%;
    left: 10%;
    font-size: 7.4vw;
    font-weight: 900;
    text-transform: uppercase;
    width: 50%;
    margin-left: 24%;
    font-family: plain light;
    /* background-color: red; */
    &:hover{
        -webkit-text-stroke: 2px #fff;
        color: transparent;
        font-weight:300;
    }
 }
    

   
   
       
    }
    

#hover-texts h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    font-weight:300;

}


